#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 70%;
}

.swiper-slide-active {
  opacity: 1;    
}

.swiper-slide-active:hover {
  transition: transform 0.5s ease; /* Smooth transition */
  transform: scale(1.1);    
}

.swiper-slide-next {
  opacity: 0.5 !important;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container h1 {
  color: #ff6347;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
}

.navbar-logo a {
  color: grey;
  text-decoration: none;
  font-size: 24px;
}

.navbar-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: grey;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  position: relative;
  margin: 0 15px;
}

.navbar-links a {
  color: grey;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #ff6347; /* Change color on hover */
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border:  1px solid black;
  padding: 10px 0;
  z-index: 1000;
  list-style: none;
}

.dropdown li {
  padding: 10px 20px;
}

.dropdown a {
  color: grey;
  text-decoration: none;
}

.navbar-links li:hover .dropdown {
  display: block;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links li {
    text-align: center;
    margin: 10px 0;
  }

  .dropdown {
    position: static;
  }

  .dropdown li {
    padding: 10px 0;
  }
}

footer {
  background-color: skyblue;
  padding: 20px;
}

footer p {
  color: white;
  text-align: center;
}

.flag-flex {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.flex {
  display: flex;
  gap: 8px;
}

.flex img  {
  width: 20px;
}